In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
aws_df = pd.read_csv('Amazon Echo 2 Reviews.csv')

In [4]:
aws_df.head()

,Pageurl,Title,Review Text,Review Color,User Verified,Review Date,Review Useful Count,Configuration Text,Rating,Declaration Text
0,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Three Stars,Not great speakers,Black,Verified Purchase,10/3/2017,NaN,Echo Dot,3,NaN
1,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Four Stars,Great little gagit,White,Verified Purchase,9/26/2017,NaN,Echo Dot,4,NaN
2,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Awesome!,Awesome üëèüèΩ,White,Verified Purchase,9/8/2017,NaN,Echo Dot,5,NaN
3,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Love my Echo,Black,Verified Purchase,10/19/2017,NaN,Echo Dot,5,NaN
4,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Great device,Black,Verified Purchase,9/17/2017,NaN,Echo Dot,5,NaN

In [5]:
aws_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pageurl              6855 non-null   object
 1   Title                6855 non-null   object
 2   Review Text          6850 non-null   object
 3   Review Color         6855 non-null   object
 4   User Verified        6641 non-null   object
 5   Review Date          6855 non-null   object
 6   Review Useful Count  28 non-null     float64
 7   Configuration Text   6855 non-null   object
 8   Rating               6855 non-null   int64
 9   Declaration Text     6 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 535.7+ KB

In [6]:
aws_df.describe()

       Review Useful Count       Rating
count            28.000000  6855.000000
mean             17.071429     4.207002
std              58.266265     1.272551
min               2.000000     1.000000
25%               2.000000     4.000000
50%               2.000000     5.000000
75%               2.000000     5.000000
max             284.000000     5.000000

In [7]:
aws_df["Review Color"].value_counts()

Review Color
Black    5410
White    1445
Name: count, dtype: int64

In [10]:
aws_df["Rating"].value_counts()

Rating
5    4384
4     970
3     595
1     558
2     348
Name: count, dtype: int64

In [3]:
def reverse_string(str1): 
    """Reverse the order of a string"""

    return str1[::-1]


print(reverse_string("Manas"))

print(reverse_string("RUSHIKESH"))

sanaM
HSEKIHSUR

In [4]:
def first_non_repeating(str1): 
    char_count = {}
    for char in str1: 
        char_count[char] = char_count.get(char, 0) + 1 



    for char in str1: 
        if char_count[char] == 1 : 
            return char

    return None

In [8]:
first_non_repeating("aaababfabaacd")

'f'

In [9]:
def is_pallindrome(s): 
    # checking if the string is pallindrome 

    clean_s = "".join(filter(str.isalnum, s)).lower()

    return clean_s == clean_s[::-1]


print(is_pallindrome("Racecar"))

True

In [10]:
print(is_pallindrome("Racsecar"))

False

In [11]:
# Find the maximum subarray sum 

def max_subarray_sum(nums): 
    if not nums: 
        return 0 
    

    max_current = nums[0]
    max_global = nums[0]

    for i in range(1, len(nums)): 
        max_current = max(nums[i], max_current + nums[i])

        if max_current > max_global: 
            max_global = max_current

    return max_global

In [13]:
max_subarray_sum([-2, 1, -3, 4, -1, 2, 1, -5, 4])

6

In [1]:
# fibbo series geenrator 
a, b = 0, 1

count = 0 
n = 5
while count<n: 
    print(a, end=" ")
    a, b = b, a+b
    count +=1

0 1 1 2 3

In [2]:
# "4.4 version" --> Platform update -->

In [5]:
# finding the duplicates in a list 
# Answe

from collections import Counter 

def find_duplicates(data): 
    counts = Counter(data)
    print(counts)
    duplicates = [item for item, count in counts.items() if count > 1]

    return duplicates

numbers = [1, 2, 3, 4, 2, 5, 1, 6, 7, 4, 1]

print(find_duplicates(numbers))

Counter({1: 3, 2: 2, 4: 2, 3: 1, 5: 1, 6: 1, 7: 1})
[1, 2, 4]

In [4]:
strings = ['R', 'U', 'S', 'S', "U"]

print(find_duplicates(strings))

['U', 'S']

In [10]:
def two_sum(nums, target): 
    seen = {}
    for index, num in enumerate(nums): 
        print(index, num)
        complement = target - num 

        if complement in seen: 
            return [seen[complement], index]
        

        seen[num] = index

    return []

In [11]:
# Example Usage:
nums = [2, 7, 11, 15]
target = 9
print(f"Indices for target {target}: {two_sum(nums, target)}")

0 2
1 7
Indices for target 9: [0, 1]

In [13]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [14]:
import string 

def clean_and_tokenize(text): 

    custom_stopwords = set(['the', 'is', 'a', 'an', 'and', 'of', 'to', 'in', 'it', 'for'])
    translator = str.maketrans("", "", string.punctuation)

    # text lower 
    text_lower = text.lower()
    text_no_punct = text_lower.translate(translator)

    tokens = text_no_punct.split()

    filter_tokens = [word for word in tokens if word not in custom_stopwords]

    return filter_tokens

In [15]:
# Example Usage:
input_text = "NLP is a fascinating field. It helps computers understand human language!"
tokens = clean_and_tokenize(input_text)
print(f"Original Text: {input_text}")
print(f"Filtered Tokens: {tokens}")

Original Text: NLP is a fascinating field. It helps computers understand human language!
Filtered Tokens: ['nlp', 'fascinating', 'field', 'helps', 'computers', 'understand', 'human', 'language']