In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/rushikeshnaik/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
aws_df = pd.read_csv('Amazon Echo 2 Reviews.csv')

In [4]:
aws_df.head()

,Pageurl,Title,Review Text,Review Color,User Verified,Review Date,Review Useful Count,Configuration Text,Rating,Declaration Text
0,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Three Stars,Not great speakers,Black,Verified Purchase,10/3/2017,NaN,Echo Dot,3,NaN
1,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Four Stars,Great little gagit,White,Verified Purchase,9/26/2017,NaN,Echo Dot,4,NaN
2,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Awesome!,Awesome üëèüèΩ,White,Verified Purchase,9/8/2017,NaN,Echo Dot,5,NaN
3,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Love my Echo,Black,Verified Purchase,10/19/2017,NaN,Echo Dot,5,NaN
4,https://www.amazon.com/All-New-Amazon-Echo-Dot...,Five Stars,Great device,Black,Verified Purchase,9/17/2017,NaN,Echo Dot,5,NaN

In [5]:
aws_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6855 entries, 0 to 6854
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Pageurl              6855 non-null   object
 1   Title                6855 non-null   object
 2   Review Text          6850 non-null   object
 3   Review Color         6855 non-null   object
 4   User Verified        6641 non-null   object
 5   Review Date          6855 non-null   object
 6   Review Useful Count  28 non-null     float64
 7   Configuration Text   6855 non-null   object
 8   Rating               6855 non-null   int64
 9   Declaration Text     6 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 535.7+ KB

In [6]:
aws_df.describe()

       Review Useful Count       Rating
count            28.000000  6855.000000
mean             17.071429     4.207002
std              58.266265     1.272551
min               2.000000     1.000000
25%               2.000000     4.000000
50%               2.000000     5.000000
75%               2.000000     5.000000
max             284.000000     5.000000

In [7]:
aws_df["Review Color"].value_counts()

Review Color
Black    5410
White    1445
Name: count, dtype: int64

In [10]:
aws_df["Rating"].value_counts()

Rating
5    4384
4     970
3     595
1     558
2     348
Name: count, dtype: int64